# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://pgvymttdvdlkcroqxsgn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBndnltdHRkdmRsa2Nyb3F4c2duIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjc4NTYyMzMsImV4cCI6MjA0MzQzMjIzM30.placeholder

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAPe90EX7HqS7ffE85F4n8a1TETriCOZgg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=striv-b4924.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=striv-b4924
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=striv-b4924.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=330559459847
NEXT_PUBLIC_FIREBASE_APP_ID=1:330559459847:web:51a4727a1675bf2e26d0a2
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-PGSD7SD2T3

# App
NEXT_PUBLIC_APP_URL=https://striv.vercel.app
NEXT_PUBLIC_APP_NAME=STRIV
